body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center ;
    font-family: 'DotGothic16', sans-serif;
    color: white; 
}
.container {
    margin-top: 60px;
    left: 50%;
    width: 70%;
    height: 500px;
    border: 10px solid hsl(139deg 59% 55%);
    padding: 15px;
    font-family: 'DotGothic16', sans-serif;
    color: white; 
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.container.open{
    
    display: grid;
    
}

 span{
    animation: blinker 1s linear infinite;
 }
  
  @keyframes blinker{
    50%{
      opacity: 0;
    }
  }

.main-info{
    grid-column: 1 / 3;
    grid-row: 1 / 2
}

.skills{
    grid-column: 1 / 3;
    grid-row: 2 / 4;
}

.lang{
    grid-column: 1 / 3;
    grid-row: 4 ;
}

.summary{
    
    grid-column: 3 / 7;
    grid-row: 1 / 2;
}

#summary-info{
font-size: 13px;
 }

.experience{
    grid-column: 3 / 5;
    grid-row: 2 / 5;
}

#experience-list{
    padding: 0px;
    list-style: none;
}

.edu{

    grid-column: 5 / 7;
    grid-row: 2 / 4;
}

#info-edu{
    list-style: none;
}

.contacts{
    grid-column: 5 / 7;
    grid-row: 4;
}

#contact-info {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-column-gap: 10px;
grid-template-rows: 1fr
}

#git-icon{
    cursor: pointer;
    width: 41px;
    height: 41px;
    background-color: white;
}

h2:hover{
    color: hsl(49deg 100% 63%);
}

#start-game{
    color: white;
    background-color: black;
    width: 100px;
    height: 40px;
    border: 4px solid white;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-name: sparcle-button;
    animation-iteration-count: infinite;
    cursor: pointer;
    
}

@keyframes sparcle-button {
    from {border: 4px solid white;}
    to {border: 4px solid hsl(49deg 100% 63%);}
}

#start-game:active {
font-size: 12px;
}

.game-field{
    display: none;
    margin-top: 60px;
    left: 50%;
    width: 70%;
    height: 500px;
    border: 10px solid hsl(139deg 59% 55%);
    padding: 15px;
    font-family: 'DotGothic16', sans-serif;
}

.game-field.open {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-field{
    align-content: center;
    justify-items: center;
    width: 140px;
    height: 50px;
    padding: 10px;
    font-family: 'DotGothic16', sans-serif;
    color: white;
    display: flex;

}
.exit-btn{
 position: absolute;
 display: flex;
 justify-content: center;
 align-items: center;
 top: 10%;
 right: 8%;
 width: 60px;
 height: 60px;
 cursor: pointer
}

.exit-btn:hover{
    background-color: hsl(49deg 100% 63%);
}

.line {  
    margin: 0;
    position: absolute;
    width: 40px;
    height: 3px;
    background-color: white;
  }

  .line:hover{
    color: hsl(49deg 100% 63%);
  }

  .line-one {
    transform: rotate(45deg)
  }
  
  .line-two {
    transform: rotate(-45deg);
  }
.game {
  display: flex;
}

.close{
  display: none !important;
 }

 .gameborder {
    width: 350px;
    height: 100px;
    border: 3px solid black;
    border-bottom-color: hsl(49deg 100% 63%);
    overflow: hidden;
 }

 #character{
    margin: 0px;
    padding: 0px;
    width: 51px;
    height: 51px;
    position: relative;
    top: 50px;
    left: 20px;

 }   
 
 .animate {
    animation: jump 500ms;
 }

 #obstacle {
    margin: 0px;
    padding: 0px;
    width: 21px;
    height: 21px;
    position: relative;
    top: 20px;
    left: 330px;
    animation: obstacle 1s linear infinite;
 }


 @keyframes obstacle {
    0%{left: 120%;}
    100%{left: -20%;}
 }

 @keyframes jump {
   0% {top: 50px;}
   30% {top: 20px;}
   70% {top: 20px;}
   100%{top: 50px;}
 }