body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center ;
    font-family: 'DotGothic16', sans-serif;
    color: white; 
}
.container {
    margin-top: 60px;
    left: 50%;
    width: 70%;
    height: 500px;
    border: 10px solid hsl(139deg 59% 55%);
    padding: 15px;
    font-family: 'DotGothic16', sans-serif;
    color: white; 
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.container.open{
    
    display: grid;
    
}

 span{
    animation: blinker 1s linear infinite;
 }
  
  @keyframes blinker{
    50%{
      opacity: 0;
    }
  }

.main-info{
    grid-column: 1 / 3;
    grid-row: 1 / 2
}

.skills{
    grid-column: 1 / 3;
    grid-row: 2 / 4;
}

.lang{
    grid-column: 1 / 3;
    grid-row: 4 ;
}

.summary{
    
    grid-column: 3 / 7;
    grid-row: 1 / 2;
}

#summary-info{
font-size: 13px;
 }

.experience{
    grid-column: 3 / 5;
    grid-row: 2 / 5;
}

#experience-list{
    padding: 0px;
    list-style: none;
}

.edu{

    grid-column: 5 / 7;
    grid-row: 2 / 4;
}

#info-edu{
    list-style: none;
}

.contacts{
    grid-column: 5 / 7;
    grid-row: 4;
}

#contact-info {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-column-gap: 10px;
grid-template-rows: 1fr
}

#git-icon{
    cursor: pointer;
    width: 41px;
    height: 41px;
    background-color: white;
}

h2:hover{
    color: hsl(49deg 100% 63%);
}

#start-game{
    color: white;
    background-color: black;
    width: 100px;
    height: 40px;
    border: 4px solid white;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-name: sparcle-button;
    animation-iteration-count: infinite;
    cursor: pointer;
    
}

@keyframes sparcle-button {
    from {border: 4px solid white;}
    to {border: 4px solid hsl(49deg 100% 63%);}
}

#start-game:active {
font-size: 12px;
}

.game-field{
    display: none;
    margin-top: 60px;
    left: 50%;
    width: 70%;
    height: 500px;
    border: 10px solid hsl(139deg 59% 55%);
    padding: 15px;
    font-family: 'DotGothic16', sans-serif;
}

.game-field.close{
 display: none;
}

.game-field.open {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-field{
    align-content: center;
    justify-items: center;
    width: 140px;
    height: 50px;
    padding: 10px;
    font-family: 'DotGothic16', sans-serif;
    color: white;
    display: flex;

}

.loader-field.close {
  display: none;
}

.container.close {
    display: none;
}

.exit-btn{
 position: absolute;
 display: flex;
 justify-content: center;
 align-items: center;
 top: 10%;
 right: 8%;
 width: 60px;
 height: 60px;
 cursor: pointer
}

.exit-btn:hover{
    background-color: hsl(49deg 100% 63%);
}

.line {  
    margin: 0;
    position: absolute;
    width: 40px;
    height: 3px;
    background-color: white;
  }

  .line:hover{
    color: hsl(49deg 100% 63%);
  }

  .line-one {
    transform: rotate(45deg)
  }
  
  .line-two {
    transform: rotate(-45deg);
  }

  @media (max-width: 1199px) and (min-width: 992px){
  .container {
    font-size: 14px;
  }
 .exit-btn{
    right: 6%;
  }
  }

  @media (max-width: 991px) and (min-width: 768px) {
    .container {
        font-size: 13px;
      }
      .exit-btn{
        right: 4%;
      }
  }

  @media (max-width: 767px) and (min-width: 576px) {
    #experience-list li:last-child{
        display: none;
    }
    .container {
        font-size: 13px;
      }
      .exit-btn{
        right: 3%;
      }
    img{
        width: 30px;
        height: 30px;
    }
    #git-icon{
        
        width: 31px;
        height: 31px;
        
    }
  }

  @media (max-width: 576px){
    #experience-list li:last-child{
        display: none;
    }
    .container {
        font-size: 12px;
      }
      .exit-btn{
        right: 1%;
      }
    img{
        width: 20px;
        height: 20px;
    }
    #git-icon{
        
        width: 21px;
        height: 21px;
    }
    
    .main-info{
      grid-column: 1 / 7;
      grid-row: 1 / 2;
  }
  
    .skills{
      grid-column: 1 / 3;
      grid-row: 3 / 3;
  }
  
   .lang{
      display: none;
  }
  
    .summary{
      
      grid-column: 1 / 7;
      grid-row: 2 / 3;
  }

     .experience{
    grid-column: 3 / 5;
    grid-row: 3 / 3;
}
     .contacts{
     grid-column: 5 / 7;
     grid-row: 1 / 2;
}
     .edu{

    grid-column: 5 / 7;
    grid-row: 3 / 3;
}
  }

